:root {
    --color-primary: #1B2C41;
    --color-secondary: #375CA5;
    --color-tertiary: #92D0D1;
    --color-quaternary: #FFF455;
    --color-quinary: #004783;
    --color-senary: #00ACE5;
    --color-off-white: #f4eeee;
    --color-facebook: #3b5998;
    --color-twitter: #00acee;
}