.burger {
    cursor: pointer;
    margin-left: auto;

    &.active {
        .burger__lines {
            background: rgba(#ffffff, 0);

            &:after {
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                bottom: 0;
            }

            &:before {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                top: 0;
            }
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    &__menu {
        position: relative;
        width: 31px;
        height: 20px;
        z-index: 27;
        cursor: pointer;
    }

    &__lines {
        position: absolute;
        width: 100%;
        height: 2px;
        top: 9px;
        right: 0;
        opacity: 1;
        border-radius: 3px;

        @apply bg-primary;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            top: 9px;
            left: 0;
            border-radius: 3px;

            @apply bg-primary;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 9px;
            left: 0;
            border-radius: 3px;

            @apply bg-primary;
        }
    }

    &__lines,
    &__lines::after,
    &__lines::before {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
}
